.posters {
    /* border: 1px solid red; */
    width: 14.7%;
    margin: 10px;
    box-shadow: 0 0 1em rgb(0 0 0 / 30%);
  }
  
  .movieImage{
    width: 100%;
    height: 230px;
  }
  
  .movie_title{
    font-size: 1rem;
    font-weight: normal;
    font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    -moz-font-feature-settings: "smcp";
    font-variant: small-caps;
    margin: 0;
  }